/*Estilos de la aplicación web, utilizar solo con className*/
/*Paleta de colores: 
Naranja principal: #ff4e00
Morado principal: #770047
Naranja claro: #ff823b
Naranja oscuro: #c30500
Morado claro: #aa3d72
Morado oscuro: #460020
Crema de limón: #9bd816
Jalea de ciruela: #b70030*/

.nav-home {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.nav-home>a{
  text-decoration: none;
}

.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.btn-cat {
  margin-left: auto;
  margin-right: auto;
}

.btn-cat>a {
  text-decoration: none;
}

.foot-home {
  padding-top: 3rem;
}

.btn-exit {
  text-align: center;
}

.btn-exit>a {
  text-decoration: none;
}

/*Página categoría-categories*/
.tab-showCategory {
  background-color: #770047;
  margin-top: 0;
  padding: 0.3rem;
  text-align: center;
}

.l-cat{
  text-decoration: none;
}

.box-selectPro {
  display: flex;
  flex-direction: row;
}

.btn-pay {
  text-align: center;
}

.btn-pay>a{
  text-decoration: none;
}

.btn-add {
  text-align: center;
}

.icon-exp {
  margin-left: auto;
  margin-right: auto;
}
/*Página pedidos-orders*/
.tab-showOrders {
  background-color: #9bd816;
  margin-top: 0;
  padding: 0.3rem;
}

.custom-order {
  display: flex;
  flex-direction: column;
}

.edit-order {
  width: 4rem;
  height: 4rem;
  background-color: #ffcc00;
}

.delete-order {
  width: 4rem;
  height: 4rem;
  background-color: #c30500;
}

.btn-ok {
  text-align: center;
}

.btn-ok>a {
  text-decoration: none;
}

/*Página solicitud contraentrega-deliveryreq*/
.tab-showDelForm {
  background-color: #b70030;
  margin-top: 0;
  padding: 0.3rem;
}
/*Página confirmación de entrega-deliveryconf*/
.tab-showDelConf {
  background-color: #aa3d72;
  margin-top: 0;
  padding: 0.3rem;
}

.btn-edit {
  text-align: center;
}

.btn-edit>a{
  text-decoration: none;
}

.btn-download {
  text-align: center;
}

.btn-download>a{
  text-decoration: none;
}
/*Texto de las barras de las páginas*/
.txt-title{
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 1.15rem;
  text-align: center;
}
